{% extends "base.html.twig" %}

{% block body %}
    <h1 class="text-3xl font-bold underline pb-2">Bienvenue sur mon application Symfony</h1>
    <p class="text-sm text-gray-600">Veuillez-vous connecter pour profiter pleinement de l'application.</p>
{% endblock %}
