services:

    # PHP Service
    php:
        build: ./docker
        restart: unless-stopped
        depends_on:
            - db
        volumes:
            - .:/var/www/html
            - ./docker/default.conf:/etc/apache2/sites-available/000-default.conf
        ports:
            - "8000:80"
        environment:
            DATABASE_URL: ${DATABASE_URL}

    # MySQL Service
    db:
        image: mysql:latest
        restart: unless-stopped
        environment:
            MYSQL_DATABASE: ${MYSQL_DATABASE:-app}
            MYSQL_RANDOM_ROOT_PASSWORD: "true"
            MYSQL_USER: ${MYSQL_USER:-user}
            MYSQL_PASSWORD: ${MYSQL_PASSWORD:-password}
        volumes:
            - ./var/db:/var/lib/mysql:rw
            - ./var:/var/www/html/var
        ports:
            - "3333:3306"
        healthcheck:
            test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
            timeout: 5s
            retries: 5
            start_period: 60s

    # PHPMyAdmin Service
#    phpmyadmin:
#        image: phpmyadmin/phpmyadmin
#        ports:
#          - "8888:80"
#        environment:
#          PMA_HOST: db
#          PMA_USER: ${MYSQL_USER:-user}
#          PMA_PASSWORD: ${MYSQL_PASSWORD:-password}
#        depends_on:
#          - db
