<select class="select select-bordered w-48" data-model="role">
    <option value="">Tous les rôles</option>
    <option value="ROLE_USER">Correspondant</option>
    <option value="ROLE_REDACTEUR">Rédacteur</option>
    <option value="ROLE_ADMIN">Administrateur</option>
</select>
