<dialog id="user_edit_modal_{{ user.id }}" class="modal modal-bottom sm:modal-middle" {{ attributes }}>
    <div class="modal-box">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>

        <h3 class="text-lg font-bold">Hello {{ user.username }}!</h3>
        <p class="py-4">Your ID is {{ user.id }}</p>
        <p class="py-4">Press ESC key or click on ✕ button to close</p>
    </div>
</dialog>
