<div class="flex flex-col space-y-8" {{ attributes }}>
    {% include "partials/user-table/_search-input.html.twig" %}

    <div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100">
        <table class="table table-zebra">
            <thead>
            <tr>
                <th></th>
                <th>Nom</th>
                <th>Email</th>
                <th>Age</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% if users is empty %}
                <tr>
                    <td colspan="5" class="text-center text-base-content/50 py-8">
                        {% if query %}
                            Aucun utilisateur trouvé pour "{{ query }}"
                        {% else %}
                            Aucun utilisateur
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                {% for user in users %}
                    {% include "partials/user-table/_user-row.html.twig" with {user: user} %}
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>

    {% include "partials/user-table/_edit-modal.html.twig" %}
    {% include "partials/user-table/_delete-modal.html.twig" %}

    {% if users | length < usersCount %}
        <button class="btn" data-action="live#action" data-live-action-param="loadUsers">
            Voir plus
        </button>
    {% endif %}
</div>
